{% extends "base.html" %}
{% block profile %}
    <div class="row">
        <!-- User Sidebar -->
        <div class="col-xl-0 col-lg-0 col-md-0 order-0 order-md-0">
            <p class="mt-4 small text-uppercase text-muted">Profile</p>
            <!-- User Card -->
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row" style="display: flex; justify-content: flex-start;">
                        <div class="user-profile-header d-flex flex-column flex-sm-row text-sm-start text-center mb-4">
                            <div class="flex-shrink-0 mt-n2 mx-sm-0 mx-auto">
                                <div id="avatarSection">

                                </div>
                                <div id="imageContainer">

                                </div>
                            </div>
                            <div class="row"><!-- UPDATE AND REMOVE BUTTONS-->
                                <div class="flex-grow-0 mt-0 mt-sm-0">
                                    <div class="align-items-md-start align-items-sm-start align-items-center justify-content-md-start justify-content-start mx-4 flex-md-row flex-column gap-4">
                                        <h3 id="profileUsername">John Doe</h3>
                                    </div>
                                </div>
                                <div class="flex-grow-1 mt-0 mt-sm-0">
                                    <div class="d-flex align-items-md-start align-items-sm-start align-items-center justify-content-md-start justify-content-start mx-4 flex-md-row flex-column gap-4">
                                        <input type="file" id="imageInput" accept="image/*" style="display: none;">
                                        <button class="btn btn-primary me-3" id="chooseImageButton">Edit</button>
                                        <button onclick="remove_avatar()" class="btn btn-label-danger">Remove</button>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="col order-1 order-md-1">
                        <div id="formEditUser" class="mb-3">
                            <div class="row mt-4">
                                <div class="col" id="usernameForm">
                                    <div class="mb-3">
                                        <label for="username" class="form-label">Username</label>
                                        <input
                                                type="text"
                                                class="form-control"
                                                id="username"
                                                name="username"
                                                placeholder="Enter your username"
                                                autofocus
                                        />
                                    </div>
                                    <div class="invalid-feedback mb-2"></div>
                                </div>
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="email" class="form-label">Email</label>
                                        <input type="text" class="form-control" id="email" name="email"
                                               placeholder="" readonly/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col" id="passwordForm">
                                    <div class="mb-3 form-password-toggle">
                                        <label class="form-label" for="password">Password</label>
                                        <div class="input-group input-group-merge">
                                            <input
                                                    type="password"
                                                    id="password"
                                                    class="form-control"
                                                    name="password"
                                                    placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                                    aria-describedby="password"
                                            />
                                            <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
                                        </div>
                                        <div class="invalid-feedback"></div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-3 form-password-toggle">
                                        <label class="form-label" for="confirm-password">Confirm password</label>
                                        <div class="input-group input-group-merge">
                                            <input
                                                    type="password"
                                                    id="confirm-password"
                                                    class="form-control"
                                                    name="confirm-password"
                                                    placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                                    aria-describedby="confirm-password"
                                            />
                                            <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="row d-flex justify-content-center mt-2">
                                <div class="w-25">
                                    <button onclick="update_user()" class="btn btn-primary d-grid w-100">Save</button>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
            <!-- /User Card -->
        </div>
        <!--/ User Sidebar -->
        <!-- Statistics Sidebar -->
        <div class="col-xl-0 col-lg-0 col-md-0 order-0 order-md-0">
            <p class="mt-4 small text-uppercase text-muted">Statistics</p>
            <!-- Chat Card -->
            <div class="card mb-4">
                <div class="card-body">
                    <div class="info-container">
                        <ul class="list-unstyled mb-0">
                            <li id="userMessages" class="mb-2">
                                <span class="fw-semibold me-1">Messages in chats:</span>

                            </li>
                            <li id="userWallets" class="pt-1">
                                <span class="fw-semibold me-1">Wallets:</span>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /Chat Card -->
        </div>
        <!--/ Statistics Sidebar -->

        <!-- Wallets Management Sidebar -->
        <div class="col-xl-0 col-lg-0 col-md-0 order-0 order-md-0">
            <p class="mt-4 small text-uppercase text-muted">Wallets Management</p>
            <!-- Wallets Card -->
            <div class="card mb-4">
                <div class="card-body">
                    <div id="wallets">

                    </div>
                    <div class="row mt-5">
                        <!-- Button triger modal -->
                        <div class="w-25">
                            <button class="btn btn-primary d-grid w-100" data-bs-toggle="modal"
                                    data-bs-target="#importWallet">Import ETH Wallet
                            </button>
                        </div>
                        <!-- Modal -->

                        <div class="modal fade animate__animated fadeIn" id="importWallet" tabindex="-1"
                             style="display: none;" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">

                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel5">Import ETH Wallet</h5>
                                        <button id="closeModal" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>

                                    <div class="modal-body">
                                        <div class="row" id="privateKeyForm">
                                            <form action="" id="priv">
                                                <div class="col mb-3">
                                                    <input type="text" id="privateKey" class="form-control"
                                                           placeholder="Enter ETH Wallet">
                                                </div>
                                                <div class="invalid-feedback mb-2"></div>
                                            </form>
                                        </div>

                                    </div>

                                    <div class="modal-footer">

                                        <button onclick="importWallet()" class="btn btn-primary d-grid w-100">Import ETH
                                            Wallet
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Modal -->
                        <div class="w-25">
                            <button onclick="createWallet()" class="btn btn-primary d-grid w-100">Create ETH Wallet
                            </button>
                        </div>

                    </div>
                </div>

            </div>

            <!-- /Wallets Card -->
        </div>
        <!--/ Wallets Management Sidebar -->
    </div>

{% endblock %}
{% block script %}
    <script>
        document.getElementById("priv").addEventListener("submit", function (event) {
            event.preventDefault(); // Отменяет отправку формы
            // Здесь можно добавить ваш код для обработки данных формы или выполнить другие действия
        });
        let validData = true
        let base64Image = ''
        var usernameInput = document.getElementById("username");
        var passwordInput = document.getElementById("password");
        var confirmInput = document.getElementById("confirm-password");
        var privateKeyInput = document.getElementById('privateKey')
        var errorDivKey = document.querySelector('#privateKeyForm .invalid-feedback')
        var errorDiv = document.querySelector("#passwordForm .invalid-feedback");
        var errorUserDiv = document.querySelector("#usernameForm .invalid-feedback");

        passwordInput.addEventListener("input", function () {
            // Получите значение введенного пароля
            var password = passwordInput.value;
            var confirm_password = confirmInput.value;
            if (password.length > 0) {
                if (!/^[a-zA-Z0-9]+$/.test(password)) {
                    errorDiv.textContent = "Password must contain only English letters and digits";
                    errorDiv.style.display = "block";
                    passwordInput.classList.add("is-invalid");
                    validData = false
                    return;
                }
                if (password.length < 8) {
                    errorDiv.textContent = "Password must be more than 6 characters";
                    errorDiv.style.display = "block";
                    passwordInput.classList.add("is-invalid");
                    validData = false
                    return;
                }
                if (!/[a-z]/.test(password)) {
                    errorDiv.textContent = "Password must contain at least one lowercase letter";
                    errorDiv.style.display = "block";
                    passwordInput.classList.add("is-invalid");
                    validData = false
                    return;
                }
                if (!/[A-Z]/.test(password)) {
                    errorDiv.textContent = "Password must contain at least one uppercase letter";
                    errorDiv.style.display = "block";
                    passwordInput.classList.add("is-invalid");
                    validData = false
                    return;
                }
                if (!/\d/.test(password)) {
                    errorDiv.textContent = "Password must contain at least one digit";
                    errorDiv.style.display = "block";
                    passwordInput.classList.add("is-invalid");
                    validData = false
                    return;
                }
                if (password !== confirm_password) {
                    errorDiv.textContent = "Passwords do not match.";
                    errorDiv.style.display = "block";
                    passwordInput.classList.add("is-invalid");
                    confirmInput.classList.add("is-invalid");
                    validData = false
                    return;
                }
            }

            // Если условие валидации прошло успешно, уберите сообщение об ошибке и класс is-invalid
            errorDiv.textContent = "";
            errorDiv.style.display = "none";
            passwordInput.classList.remove("is-invalid");
            confirmInput.classList.remove("is-invalid")
            validData = true
        });
        confirmInput.addEventListener("input", function () {
            // Получите значение введенного пароля
            var password = passwordInput.value;
            var confirm_password = confirmInput.value;

            if (password !== confirm_password) {
                errorDiv.textContent = "Passwords do not match.";
                errorDiv.style.display = "block";
                passwordInput.classList.add("is-invalid");
                confirmInput.classList.add("is-invalid");
                validData = false
                return;
            }

            // Если условие валидации прошло успешно, уберите сообщение об ошибке и класс is-invalid
            errorDiv.textContent = "";
            errorDiv.style.display = "none";
            passwordInput.classList.remove("is-invalid");
            confirmInput.classList.remove("is-invalid")
            validData = true
        });
        usernameInput.addEventListener("input", function () {
            var username = usernameInput.value;
            if (username.length > 0) {
                if (!/^[a-zA-Z0-9]+$/.test(username)) {
                    errorUserDiv.textContent = "Username must contain only English letters and digits";
                    errorUserDiv.style.display = "block";
                    usernameInput.classList.add("is-invalid");
                    validData = false
                    return;
                }
                if (username.length < 6) {
                    errorUserDiv.textContent = "Username must be more than 6 characters";
                    errorUserDiv.style.display = "block";
                    usernameInput.classList.add("is-invalid");
                    validData = false
                    return;
                }
            }
            errorUserDiv.textContent = "";
            errorUserDiv.style.display = "none";
            usernameInput.classList.remove("is-invalid");
            validData = true
        });

        function remove_avatar() {
            var iconUser = $('<i>', {
                id: 'iconUser',
                class: 'menu-icon tf-icons ti ti-user d-block w-px-100 h-px-100 rounded',
                style: 'font-size: 100px;'
            });

            $("#imageContainer").hide()
            $("#avatarSection").empty().append(iconUser).css("display", "block");
            base64Image = '#'
        }

        function importWallet() {
            var privateKey = $('#privateKey').val()
            let private_key_api_url = window.location.origin + '/api/v1/import_eth_wallet?private_key='

            $.ajax({
                method: 'post',
                dataType: 'json',
                headers: {
                    "Content-Type": 'application/json',
                },
                url: private_key_api_url + privateKey,
                success: function (data) {
                    setWallets(data)
                    var currentValue = parseInt($("#walletCt").text(), 10);
                    var newValue = currentValue + 1;
                    $("#walletCt").text(newValue);
                    $('#privateKey').text('')
                    errorDivKey.textContent = "";
                    errorDivKey.style.display = "none";
                    privateKeyInput.classList.remove("is-invalid");
                    $("#closeModal").click()

                },
                error: function (data) {
                    errorDivKey.textContent = data.responseJSON.detail;
                    errorDivKey.style.display = "block";
                    privateKeyInput.classList.add("is-invalid");

                }
            })

        }

        function createWallet() {
            let create_wallet_api_url = window.location.origin + '/api/v1/create_eth_wallet'

            $.ajax({
                method: 'post',
                dataType: 'json',
                headers: {
                    "Content-Type": 'application/json',
                },
                url: create_wallet_api_url,
                success: function (data) {
                    setWallets(data)
                    var currentValue = parseInt($("#walletCt").text(), 10);
                    var newValue = currentValue + 1;
                    $("#walletCt").text(newValue);
                },
                error: function (data) {
                    console.log(data.responseJSON.detail)

                }
            })
        }

        function update_user() {
            let profile_api_url = window.location.origin + "/api/v1/edit_profile"
            let username = $('#username').val()
            let password = $("#password").val()
            let confirm_password = $('#confirm-password').val()

            if (username.length || password.length && confirm_password.length || base64Image !== '') {

                if (validData)
                    $.ajax({
                        method: 'put',
                        dataType: 'json',
                        headers: {
                            "Content-Type": 'application/json',
                        },
                        url: profile_api_url,
                        data: JSON.stringify({
                            "username": username,
                            "new_password": password,
                            "repeat_password": confirm_password,
                            "avatar": base64Image
                        }),
                        success: function (data) {
                            window.location.href = '/profile'

                        },
                        error: function (data) {

                        }
                    })

            }
        }

        function setWallets(walledData) {
            $('#wallets').append(
                '<div class="d-flex justify-content-start align-items-center mb-3 mt-3">' +
                '<div class="avatar-wrapper">' +
                '<div class="avatar me-2"><img src="' + walledData.asset_img + '" alt="Avatar"></div>' +
                '</div>' +
                '<div class="form-control d-flex flex-column" style="width: auto"><a href="https://sepolia.etherscan.io/address/' + walledData.address + '" target="_blank"><span style="text-decoration: underline" class=" emp_name text-truncate">' + walledData.address + '</span></a>' +
                '</div>'
            )
        }

        function userWallets(user_id) {
            let user_wallets_api_url = window.location.origin + "/api/v1/user_wallets?user="
            $.ajax({
                method: 'get',
                dataType: 'json',
                headers: {
                    "Content-Type": 'application/json',
                },
                url: user_wallets_api_url + user_id,
                success: function (data) {
                    $('#userWallets').append('<span id="walletCt">' + data.length + '</span>')

                    data.forEach((element) => setWallets(element));
                },
                error: function (data) {
                }
            })
        }

        function userMessages() {
            let user_wallets_api_url = window.location.origin + "/api/v1/user_messages"
            $.ajax({
                method: 'get',
                dataType: 'json',
                headers: {
                    "Content-Type": 'application/json',
                },
                url: user_wallets_api_url,
                success: function (data) {
                    $('#userMessages').append('<span>' + data + '</span>')
                },
                error: function (data) {
                }
            })
        }

        $(document).ready(function () {
            let user_auth_api_url = window.location.origin + "/api/v1/user_auth"
            $.ajax({
                method: 'get',
                dataType: 'json',
                headers: {
                    "Content-Type": 'application/json',
                },
                url: user_auth_api_url,
                success: function (data) {
                    let avatarHeader = '<i class="h-auto rounded-circle menu-icon tf-icons ti ti-user" style="font-size: 35px;"></i>'
                    if (data.avatar !== '#')
                        avatarHeader = "<img src='" + data.avatar + "' alt class='h-auto rounded-circle'/>"


                    $("#userAvatarDrop").append(avatarHeader)
                    $("#userAvatarSmall").append(avatarHeader)
                    $("#usernameHeader").text(data.username)


                    $('#profileUsername').text(data.username)
                    $('#email').attr("placeholder", data.email);
                    let avatar = '<i id="iconUser" class="menu-icon tf-icons ti ti-user d-block w-px-100 h-px-100 rounded" style="font-size: 100px;"></i>'
                    if (data.avatar !== '#')
                        avatar = '<img class="d-block w-px-100 h-px-100 rounded" src="' + data.avatar + '" height="100" width="100" alt="User avatar" id="userAvatar"/>'
                    $('#avatarSection').append(avatar)

                    userWallets(data.id)
                    userMessages()
                    let username = data.id
                    socket.emit('join', {username, room: username});
                },
                error: function (data) {
                    window.location.href = '/auth_login'

                }
            })


            var menuItem = $('li.menu-item#nav_profile');

            if (menuItem.length > 0) {
                menuItem.addClass('active');
            }


            $("#chooseImageButton").click(function () {
                $("#imageInput").val(null);
                $("#imageInput").click();
            });

            $("#imageInput").change(function () {
                var selectedFile = this.files[0];

                if (selectedFile) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        var image = new Image();
                        image.classList.add("d-block", "w-px-100", 'h-px-100', "rounded")
                        image.height = "100"
                        image.width = "100"
                        image.alt = "User avatar"
                        image.src = e.target.result;
                        {#$("#iconUser").hide()#}
                        $("#avatarSection").hide()
                        $("#imageContainer").empty().append(image).css("display", "block");
                        base64Image = e.target.result;
                    };

                    reader.readAsDataURL(selectedFile);
                }
            });
        });
    </script>
{% endblock %}