{% extends "base.html" %}
{% block wallets %}
    <div class="row">
        <!-- Wallets -->
        <div class="col-xl-0 col-lg-0 col-md-0 order-0 order-md-0">
            <p class="mt-4 small text-uppercase text-muted">Wallets</p>

            <div class="card mb-4">
                <div class="card-body">
                    <div class="row mb-5" id="wallets">
                        <!-- Wallets Card -->

                        <!-- /Wallets Card -->
                    </div>

                    <div class="col-md-6 mt-3" id="walletEmptyForm" style="display:none;">
                        <div class="card text-center">
                            <div class="card-body">
                                <div class="tab-content p-0">
                                    <div class="tab-pane fade show active" role="tabpanel">
                                        <div class="row">
                                            <div class="col-2"><img id="walletAssetImgForm"
                                                                    class="d-block w-px-100 h-px-100 rounded"
                                                                    src="https://upload.wikimedia.org/wikipedia/commons/6/6f/Ethereum-icon-purple.svg"
                                                                    height="100" width="100" alt="eth"></div>
                                            <div class="col">
                                                <div class="row">
                                                    <ul class="list-unstyled mb-0">
                                                        <li class="mb-2"
                                                            style="text-align: initial;"><span
                                                                class="fw-semibold me-1">Address:</span><a
                                                                id="hrefAddress"
                                                                href="https://sepolia.etherscan.io/address/0x5A79fe36275B1A8d557A8e1b3D36261515d12542"
                                                                target="_blank"><span
                                                                id="walletAddressForm"
                                                                style="text-decoration: underline"
                                                                class=" emp_name text-truncate">0x5A79fe36275B1A8d557A8e1b3D36261515d12542</span></a>
                                                        </li>
                                                        <li class="pt-1" style="text-align: initial;"><span
                                                                class="fw-semibold me-1">Balance:</span><span
                                                                id="walletBalanceForm">0.02957399999</span>
                                                        </li>
                                                    </ul>
                                                    <div style="display:flex;justify-content: space-around;"
                                                         class="mt-2">
                                                        <button class="btn btn-primary waves-effect waves-light"
                                                                name="watchTransactions"
                                                                id="walletWatchTransButtonForm"
                                                        >
                                                            Watch Transactions
                                                        </button>
                                                        <button type="button" id="walletSendTransButtonForm"
                                                                class="btn btn-success waves-effect waves-light"
                                                                {#                                                                data-bs-toggle="modal"#}
                                                                name="sendTransButton"
                                                                {#                                                                data-bs-target="#walletTransModalForm"#}
                                                        >
                                                            Send Transactions
                                                        </button>

                                                        <a class="btn btn-warning waves-effect waves-light"
                                                           href="https://sepoliafaucet.com/"
                                                           target="_blank"><span
                                                                class=" emp_name text-truncate">Get
                                                            Free ETH</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="modal fade" id="walletSendTransModal"
                         tabindex="-1"
                         style="display: none;" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Send ETH</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body pb-0">
                                    <div class="row">
                                        <div class="col-1">
                                            <label for="nameBackdrop" class="form-label">Send to:</label>
                                        </div>
                                        <div class="col mb-2">

                                            <input type="text" class="form-control" name="toAddress"
                                                   placeholder="Enter address...">
                                        </div>
                                        <div class="invalid-feedback mb-2" style="text-align: center;"></div>
                                    </div>
                                    <div class="row g-2">
                                        <div class="col-1">
                                            <label for="nameBackdrop" class="form-label">Value:</label>
                                        </div>
                                        <div class="col mb-2">

                                            <input type="text" class="form-control" name="value"
                                                   placeholder="Send amount...">
                                        </div>
                                        <div class="invalid-feedback mb-2" style="text-align: center;"></div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-label-secondary waves-effect"
                                            data-bs-dismiss="modal">
                                        Close
                                    </button>
                                    <button
                                            name="sendTrans"
                                            type="button"
                                            class="btn btn-primary waves-effect waves-light">Send
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="transSend"
                         tabindex="-1"
                         style="display: none;" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Transaction completed</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body pb-0">
                                    <div class="row">
                                        <div class="col mb-3">
                                            <label for="transBackdrop" class="form-label">
                                                Transaction completed</label>
                                            <a id="transComplete"
                                               target="_blank"><span style="text-decoration: underline"
                                                                     class=" emp_name text-truncate">Transaction link</span></a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="modal fade" id="transactionData"
                         tabindex="-1"
                         style="display: none;" aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">

                                <h5 class="card-header" id="transModalTitle"></h5>
                                <div class="table-responsive text-nowrap">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Txn Hash</th>
                                            <th>From</th>
                                            <th>To</th>
                                            <th>Value</th>
                                            <th>Age</th>
                                            <th>Txn Fee</th>
                                            <th>Status</th>
                                        </tr>
                                        </thead>
                                        <tbody class="table-border-bottom-0" id="DataTableBody">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="freeEth" data-bs-delay="5000"
                     class=" bs-toast toast toast-placement-ex m-2 fade bottom-0 end-0 hide" role="alert"
                     aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <i class="ti ti-bell ti-xs me-2 text-warning"></i>
                        <div class="me-auto fw-semibold" style="text-align: center"><h5 class="mb-0">Getting free
                            ETH</h5></div>
                        <small class="text-muted" name="time">time</small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body" style="text-align: initial;"><span class="mb-0" name="value">You have successfully sent a request to Fre ETH.</span>
                    </div>
                    <div class="toast-body" style="text-align: initial;"><span class="mb-0"
                                                                               name="address">Please Wait.</span>
                    </div>
                </div>
            </div>

            <!-- Transacion Table -->
            <div class="card">

            </div>

            <!--/ Transacion Table -->

        </div>
        <!--/ Wallets -->
    </div>
{% endblock %}
{% block script %}
    <script>
        let dataTable = $('#DataTables_Table_3').DataTable();

        function requestEth() {
            let toast = $('#freeEth')
            let toastAnimation = new bootstrap.Toast(toast);
            toastAnimation.show();
        }

        function addressInputValidator(toAddress) {
            var toAddressErrorDiv = toAddress.parent().parent().find('.invalid-feedback')[0]

            if (!toAddress.val().length) {
                toAddressErrorDiv.textContent = 'Please enter recipient address'
                toAddressErrorDiv.style.display = "block";
                toAddress[0].classList.add("is-invalid");
                return false
            }

            if (!/^0x/.test(toAddress.val())) {
                toAddressErrorDiv.textContent = 'The address must start with "0x"'
                toAddressErrorDiv.style.display = "block";
                toAddress[0].classList.add("is-invalid");
                return false
            }

            if (toAddress.val().length !== 42) {
                toAddressErrorDiv.textContent = 'Address length must be 42 characters"'
                toAddressErrorDiv.style.display = "block";
                toAddress[0].classList.add("is-invalid");
                return false
            }

            if (!/^[a-zA-Z0-9]+$/.test(toAddress.val())) {
                toAddressErrorDiv.textContent = 'Address must consist of only English letters and numbers.'
                toAddressErrorDiv.style.display = "block";
                toAddress[0].classList.add("is-invalid");
                return false
            }

            return true
        }

        function valueInputValidator(value) {
            var valueErrorDiv = value.parent().parent().find('.invalid-feedback')[0]

            if (!value.val().length) {
                valueErrorDiv.textContent = 'Please enter amount value'
                valueErrorDiv.style.display = "block";
                value[0].classList.add("is-invalid");

                return false
            }
            if (!/^(\d+(\.\d*)?|\.\d+)$/.test(value.val())) {
                valueErrorDiv.textContent = 'Wrong amount format'
                valueErrorDiv.style.display = "block";
                value[0].classList.add("is-invalid");

                return false
            }

            return true
        }

        function sendTrans(fromAddress) {
            let modal = $('#walletSendTransModal')
            let toAddress = modal.find('input[name="toAddress"]');
            let value = modal.find('input[name="value"]');
            var toAddressErrorDiv = toAddress.parent().parent().find('.invalid-feedback')[0]
            var valueErrorDiv = value.parent().parent().find('.invalid-feedback')[0]

            let addressInput = addressInputValidator(toAddress)
            let valueInput = valueInputValidator(value)

            if (addressInput) {
                toAddressErrorDiv.textContent = "";
                toAddressErrorDiv.style.display = "none";
                if (toAddress.hasClass("is-invalid"))
                    toAddress.removeClass("is-invalid");
            }

            if (valueInput) {
                valueErrorDiv.textContent = "";
                valueErrorDiv.style.display = "none";
                if (value.hasClass("is-invalid"))
                    value.removeClass("is-invalid");
            }


            if (addressInput && valueInput) {
                let send_eth_api_url = window.location.origin + "/api/v1/send_eth"
                $.ajax({
                    method: 'post',
                    dataType: 'json',
                    headers: {
                        "Content-Type": 'application/json',
                    },
                    url: send_eth_api_url,
                    data: JSON.stringify({
                        "from_address": fromAddress,
                        "to_address": toAddress.val(),
                        "value": value.val()
                    }),
                    success: function (data) {
                        modal.modal('hide');
                        let transUrl = 'https://sepolia.etherscan.io/tx/' + data.hash
                        $("#transComplete").attr('href', transUrl)
                        $("#transSend").modal('show');

                    },
                    error: function (data) {
                        console.log("error", data.responseJSON.detail)

                        toAddressErrorDiv.textContent = data.responseJSON.detail
                        toAddressErrorDiv.style.display = "block";
                        toAddress[0].classList.add("is-invalid");

                    }
                })
            }
        }

        function showModal(address) {
            let modal = $('#walletSendTransModal')
            modal.modal('show');
            let sendButton = modal.find('button[name="sendTrans"]')
            let attributeValue = 'sendTrans("' + address + '")';
            sendButton.attr('onclick', attributeValue)


            let toAddress = modal.find('input[name="toAddress"]');
            let value = modal.find('input[name="value"]');
            toAddress.val('')
            value.val('')
            var toAddressErrorDiv = toAddress.parent().parent().find('.invalid-feedback')[0]
            var valueErrorDiv = value.parent().parent().find('.invalid-feedback')[0]

            toAddressErrorDiv.textContent = "";
            toAddressErrorDiv.style.display = "none";

            if (toAddress.hasClass("is-invalid"))
                toAddress.removeClass("is-invalid");


            valueErrorDiv.textContent = "";
            valueErrorDiv.style.display = "none";
            if (value.hasClass("is-invalid"))
                value.removeClass("is-invalid");
        }

        function showTransactions(address) {
            let modal = $('#transactionData')
            setTransaction(address)
            modal.modal('show');
        }

        function setTransaction(address) {
            let wallet_db_transactions = window.location.origin + '/api/v1/wallet_db_transactions?address='
            $.ajax({
                method: 'get',
                dataType: 'json',
                headers: {
                    "Content-Type": 'application/json',
                },
                url: wallet_db_transactions + address,
                success: function (data) {
                    $('#transModalTitle').text(
                        "List of ETH transactions of " + address + " wallet"
                    )
                    let transInfo
                    data.forEach((elem) => {
                        var dateString = "2023-09-12 12:21:48";
                        var date = new Date(dateString);
                        var now = new Date();
                        var timeDifference = now - date;
                        var secondsAgo = Math.floor(timeDifference / 1000);
                        var formattedTime;
                        if (secondsAgo < 60) {
                            formattedTime = secondsAgo + " sec ago";
                        } else if (secondsAgo < 3600) {
                            var minutesAgo = Math.floor(secondsAgo / 60);
                            formattedTime = minutesAgo + " min ago";
                        } else if (secondsAgo < 86400) {
                            var hoursAgo = Math.floor(secondsAgo / 3600);
                            formattedTime = hoursAgo + " hours ago";
                        } else {
                            var daysAgo = Math.floor(secondsAgo / 86400);
                            formattedTime = daysAgo + " days ago";
                        }
                        let status
                        if (elem.status === 'SUCCESS') {
                            status = '<span class="badge bg-label-success me-1">Success</span>'
                        } else if (elem.status === 'PENDING') {
                            status = '<span class="badge bg-label-warning me-1">Pending</span>'
                        }
                        transInfo += '<tr class="">' +
                            '<td class="control sorting_1" tabindex="0" style="display: none;"></td>' +
                            '<td style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 100px;">' +
                            '<a '+
                               'href="https://sepolia.etherscan.io/tx/'+ elem.hash +'"'+
                               'target="_blank"><span id="walletAddress-36" style="text-decoration: underline"'+
                                                     'class=" emp_name text-truncate">'+ elem.hash +'</span></a>'+
                            '</td>' +
                            '<td style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 100px;">' +
                            '<a '+
                               'href="https://sepolia.etherscan.io/address/'+ elem.from_address +'"'+
                               'target="_blank"><span id="walletAddress-36" style="text-decoration: underline"'+
                                                     'class=" emp_name text-truncate">'+ elem.from_address +'</span></a>'+

                        '</td>' +
                        '<td style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 100px;">' +
                        '<a '+
                               'href="https://sepolia.etherscan.io/address/'+ elem.to_address +'"'+
                               'target="_blank"><span id="walletAddress-36" style="text-decoration: underline"'+
                                                     'class=" emp_name text-truncate">'+ elem.to_address +'</span></a>'+
                        '</td>' +
                        '<td style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 100px;">' +
                        elem.value + ' Ether'+
                        '</td>' +
                        '<td style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 100px;">' +
                        formattedTime +
                        '</td>' +
                        '<td style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 100px;">' +
                        elem.txn_fee +
                        '</td>' +
                        '<td style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 100px;">' +
                        status +
                        '</td>' +
                        '</tr>'

                    });
                    $('#DataTableBody').empty().append(transInfo)

                },
                error: function (data) {
                    console.log("error", data.responseJSON.detail)

                }
            })

        }


        function updateBalance(address) {
            let update_wallet_balance_api_url = window.location.origin + "/api/v1/update_wallet_balance?wallet_address="
            $.ajax({
                method: 'put',
                dataType: 'json',
                headers: {
                    "Content-Type": 'application/json',
                },
                url: update_wallet_balance_api_url + address,
                success: function (data) {
                    $('#walletBalance-' + data.id).text(data.balance)
                },
            })
        }

        socket.on('update_balance', (data) => {
            updateBalance(data.address)
        });

        socket.on('update_transactions_table', (data) => {
            console.log(data)
            setTransaction(data.address)
        });

        function setWallets(data) {
            let emptyForm = $('#walletEmptyForm').clone()
            let walletAssetImg = $(emptyForm).find('#walletAssetImgForm')
            let walletAddress = $(emptyForm).find('#walletAddressForm')
            let walletBalance = $(emptyForm).find('#walletBalanceForm')
            let walletSendTransButton = $(emptyForm).find('#walletSendTransButtonForm')
            let walletWatchTransButton = $(emptyForm).find('#walletWatchTransButtonForm')
            let hrefAddress = $(emptyForm).find('#hrefAddress')

            let hrefAddressId = 'hrefAddress-' + data.id
            let walletAssetImgId = 'walletAssetImg-' + data.id
            let walletAddressId = 'walletAddress-' + data.id
            let walletBalanceId = 'walletBalance-' + data.id
            let walletSendTransButtonId = 'walletSendTransButton-' + data.id
            let walletWatchTransButtonId = 'walletWatchTransButton-' + data.id

            hrefAddress.attr('href', 'https://sepolia.etherscan.io/address/' + data.address);
            walletAssetImg.attr('src', data.asset_img);
            walletAddress.text(data.address)
            walletBalance.text(data.balance)
            let attributeValue = 'showModal("' + data.address + '")';
            walletSendTransButton.attr('onclick', attributeValue)
            walletSendTransButton.attr('data-bs-target', "#walletSendTransModal")

            attributeValue = 'showTransactions("' + data.address + '")';
            walletWatchTransButton.attr('onclick', attributeValue)
            walletWatchTransButton.attr('data-bs-target', "#transactionData")

            hrefAddress.attr('id', hrefAddressId)
            walletAssetImg.attr('id', walletAssetImgId)
            walletAddress.attr('id', walletAddressId)
            walletBalance.attr('id', walletBalanceId)
            walletSendTransButton.attr('id', walletSendTransButtonId)
            walletWatchTransButton.attr('id', walletWatchTransButtonId)
            emptyForm.css('display', 'block')

            let walletCard = 'wallet-' + data.id
            emptyForm.attr('id', walletCard)

            $('#wallets').append(emptyForm)

            setInterval(function () {
                updateBalance(data.address)
            }, 60000);
        }

        function userWallets(user_id) {
            let user_wallets_api_url = window.location.origin + "/api/v1/user_wallets?user="
            $.ajax({
                method: 'get',
                dataType: 'json',
                headers: {
                    "Content-Type": 'application/json',
                },
                url: user_wallets_api_url + user_id,
                success: function (data) {
                    data.forEach((element) => setWallets(element));
                },
                error: function (data) {
                }
            })
        }


        $(document).ready(function () {
            // Находим элемент <li> по классу и идентификатору
            var menuItem = $('#nav_wallets');

            // Проверяем, что элемент найден
            if (menuItem.length > 0) {
                // Добавляем класс "active" к элементу <li>
                menuItem.addClass('active');
            }


            let user_auth_api_url = window.location.origin + "/api/v1/user_auth"
            $.ajax({
                method: 'get',
                dataType: 'json',
                headers: {
                    "Content-Type": 'application/json',
                },
                url: user_auth_api_url,
                success: function (data) {

                    let avatarHeader = '<i class="h-auto rounded-circle menu-icon tf-icons ti ti-user" style="font-size: 35px;"></i>'
                    if (data.avatar !== '#')
                        avatarHeader = "<img src='" + data.avatar + "' alt class='h-auto rounded-circle'/>"


                    $("#userAvatarDrop").append(avatarHeader)
                    $("#userAvatarSmall").append(avatarHeader)
                    $("#usernameHeader").text(data.username)

                    userWallets(data.id)
                    let username = data.id
                    socket.emit('join', {username, room: username});
                },
                error: function (data) {
                    console.log("error", data.responseJSON.detail)
                    window.location.href = '/auth_login'
                }
            })
        });
    </script>
{% endblock %}